<div class="divContacto">
    <div class="container">
        <div class="row text-white">
            <div class="col-md-4">
                <h5><i class="fa-solid fa-address-card"></i> Dirección:</h5>
                <hr>
                <h6> Boulevard hacienda el jacal #406 col. la joya,
                    c.p 76185</h6>

            </div>
            <div class="col-md-4">
                <h5><i class="fa-solid fa-envelope"></i> Correo electrónico:</h5>
                <hr>
                <h6>direccionacademica@smartkids.com.mx || kindersmartkids@gmail.com</h6>
            </div>
            <div class="col-md-4">
                <h5><i class="fa-solid fa-clock"></i> Horario de Atención:</h5>
                <hr>
                <h6>Lunes a Viernes de 8:30 am a 5:00 pm <br> 55-2341-3775</h6>
            </div>
        </div>
    </div>
</div>
<div class="inicio">

    <!-- Start your project here-->
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#nosotros">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contacto">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/privacidad">Política de privacidad</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->

            <!-- Right elements -->
            <div class="d-flex align-items-center">
                <!-- Icon -->
                <a class="text-reset me-3" href="#" target="_blank">
                    <i class="fa-brands fa-facebook" style="color: #3b5998;"></i>
                </a>
                <a class="text-reset me-3" href="#" target="_blank">
                    <i class="fa-brands fa-instagram" style="color: #F56040;"></i>
                </a>
            </div>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <div class="inicioDivT">

    </div>
    <div id="nosotros" class="nosotrosT container">
        <div class="fixed-action-btn" id="fixed1">
            <a class="btn btn-floating btn-primary btn-lg text-white" style="background-color: #25D366;"
                href="https://api.whatsapp.com/send?phone=525529390338&text=Hola, Me gustaría recibir información"
                target="_blank">
                <i class="fab fa-whatsapp fa-2xl"></i>
            </a>

            <ul class="list-unstyled">
                {{!-- <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #f44336;">
                        <i class="fas fa-star"></i>
                    </a>
                </li>
                <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #fdd835;">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
                <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #4caf50;">
                        <i class="fas fa-envelope"></i>
                    </a>
                </li>
                <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #2196f3;">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li> --}}
            </ul>
        </div>
        <div data-draggable="true" style="position: relative;">
            <!---->
            <!---->
            <section draggable="false" class="container pt-5" data-v-271253ee="">
                <section class="mb-10">
                    <h2 class="fw-bold mb-5 text-center">BIENVENIDOS</h2>

                    <div class="row gx-lg-5 mb-5 align-items-center">
                        <div class="col-md-6 mb-4 mb-md-0"> <img src="/assets/images/lab.jpg"
                                class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor">
                        </div>
                        <div class="col-md-6 mb-4 mb-md-0">
                            <h3 class="fw-bold">Un espacio educativo</h3>
                            <div class="mb-2 text-danger small"> <i class="fas fa-users me-2"
                                    aria-controls="#picker-editor"></i><span>Formando personas</span> </div>
                            <p class="text-muted">Somos una comunidad educativa que ofrece educación preescolar
                                (Kinder), cuya misión es desarrollar el potencial de cada uno de nuestros alumnos.
                                Nuestro objetivo es que aprendan a amar el conocimiento a través del juego y desplieguen
                                sus habilidades sociales, creatividad y pensamiento crítico. <br> <br>
                                Smart kids esta incorporado a la Secretaría de Educación Pública (SEP) y tiene 12 años
                                de experiencia. Esta comunidad nace del amor a los niños en su etapa inicial, ya que
                                sabemos que en esta etapa se empiezan a formar los valores los cuales trascienden en su
                                formación social, emocional y académica.
                            </p>
                            <a class="btn  btn-dark" href="#contacto" role="button"
                                aria-controls="#picker-editor">Contactar</a>
                        </div>
                    </div>
                    <div class="row gx-lg-5 mb-5 flex-lg-row-reverse align-items-center">
                        <div class="col-md-6 mb-4 mb-md-0"> <img src="/assets/images/table.jpg"
                                class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor">
                        </div>
                        <div class="col-md-6 mb-4 mb-md-0">
                            <h3 class="fw-bold">Valores y formación humana</h3>
                            <div class="mb-2 text-primary small"> <i class="fas fa-users me-2"
                                    aria-controls="#picker-editor"></i><span>Humanos y creativos</span> </div>
                            <p class="text-muted">En Smart Kids somos fieles a nuestros valores, el amor, confianza,
                                respeto y solidaridad son nuestros principales pilares. <br> <br>
                                Contamos con un ambiente seguro y divertido. Nuestros alumnos viven una etapa
                                inolvidable en donde disfrutan el aprendizaje y desarrollan las competencias que les
                                permitirán estar preparados para el mundo a través de la empatía.
                            </p> <a class="btn  btn-dark" href="#contacto" role="button"
                                aria-controls="#picker-editor">Contacto</a>
                        </div>
                    </div>

                </section>
            </section>
            <!---->
        </div>


    </div>
</div>
<div class="inicio2">
    <div class="serviciosT" id="servicios">
        <div id="preview" class="preview">
            <div style="display: none;"></div>
            <div>
                <div data-draggable="true" style="position: relative;">
                    <!---->
                    <!---->
                    <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
                        <section class="mb-10 overflow-hidden">
                            <!-- Background image -->
                            <div class="px-4 py-5 px-md-5 text-center bg-image"
                                style="background-image: url(assets/images/morado.jpg); height: 500px; background-size: cover; background-position: 50% 50%;"
                                aria-controls="#picker-editor">
                                <div class="mask" style="background-color: rgba(0, 0, 0, 0.37)">
                                    <div class="container h-100">
                                        <div class="row d-flex justify-content-center align-items-center h-100">
                                            <div class="col-lg-10">
                                                <div class="text-white pb-5">
                                                    <h1 class="my-md-5 mb-4 px-5 display-3 fw-bold ls-tight">
                                                        <span>Fomentamos el amor por el conocimiento desde la educación
                                                            preescolar en Smart Kids.</span>
                                                    </h1> <a
                                                        class="btn  btn-outline-light btn-lg btn-rounded py-3 px-5 mb-2 mb-md-0 me-md-2"
                                                        href="#contacto" role="button"
                                                        aria-controls="#picker-editor">Contactar</a> <a
                                                        class="btn  btn-link btn-lg btn-rounded py-3 px-5 mb-2 mb-md-0 text-white"
                                                        style="background-color: transparent" href="/galeria"
                                                        role="button" aria-controls="#picker-editor">Ver modelo
                                                        educativo</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=""
                                style=" height: 30px; margin-top: -30px; transform: scale(2); transform-origin: top center; color: #fff; ">
                                <svg viewBox="0 0 2880 48" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M 0 48 L 1437.5 48 L 2880 48 L 2880 0 L 2160 0 C 1453.324 60.118 726.013 4.51 720 0 L 0 0 L 0 48 Z"
                                        fill="currentColor"></path>
                                </svg>
                            </div> <!-- Background image -->
                        </section>
                    </section>
                    <!---->
                </div>
            </div>
            <div data-draggable="true" style="position: relative;" class="componentsDiv">
                <!---->
                <!---->
                <section draggable="false" class="container pt-5" data-v-271253ee="">
                    <section class="mb-10 text-center">
                        <style>
                            hr.divider-vertical {
                                position: absolute;
                                right: 0;
                                top: 0;
                                width: 1px;
                                background-image: linear-gradient(180deg, transparent, hsl(0, 0%, 40%), transparent);
                                background-color: transparent;
                                height: 100%;
                            }
                        </style>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0 position-relative">
                                <div class="card">
                                    <img src="/assets/images/lenguaje.jpg" class="card-img-top"
                                        alt="Fissure in Sandstone" />
                                    <div class="card-body">
                                        <h5 class="card-title">Lenguaje y comunicación</h5>
                                        <p class="card-text">Desarrollo en el proceso de lecto-escritura y comunicación
                                            tanto en español como en inglés.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0 position-relative">
                                <div class="card">
                                    <img src="/assets/images/mate.jpg" class="card-img-top"
                                        alt="Fissure in Sandstone" />
                                    <div class="card-body">
                                        <h5 class="card-title">Pensamiento matemático</h5>
                                        <p class="card-text">Solución de problemas matemáticos en la vida cotidiana.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0 position-relative">
                                <div class="card">
                                    <img src="/assets/images/social.jpg" class="card-img-top"
                                        alt="Fissure in Sandstone" />
                                    <div class="card-body">
                                        <h5 class="card-title">Desarrollo social y personal</h5>
                                        <p class="card-text">Desarrollo de habilidades de convivencia interpersonal y
                                            maduración emocional.</p>

                                    </div>
                                </div>
                            </div>

                        </div> <br>
                        <div class="row">
                            <div class="col-lg-2 col-md-6 mb-5 mb-lg-0 position-relative">

                            </div>
                            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0 position-relative">
                                <div class="card">
                                    <img src="/assets/images/arte.jpg" class="card-img-top"
                                        alt="Fissure in Sandstone" />
                                    <div class="card-body">
                                        <h5 class="card-title">Expresión artística</h5>
                                        <p class="card-text">Desarrollo de la creatividad a través de dinámicas
                                            orientadas al acercamiento al arte.</p>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0 position-relative">
                                <div class="card">
                                    <img src="/assets/images/fisico.jpg" class="card-img-top"
                                        alt="Fissure in Sandstone" />
                                    <div class="card-body">
                                        <h5 class="card-title">Desarrollo físico</h5>
                                        <p class="card-text">Actividades físicas para el desarrollo de la motricidad
                                            gruesa y fina.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 mb-5 mb-lg-0 position-relative">

                            </div>

                        </div>
                    </section>
                </section>
                <!---->
            </div>
            <div data-draggable="true" style="position: relative;">
                <!---->
                <!---->
                <section draggable="false" class="container pt-5" data-v-271253ee="">

                    <section class="">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="/assets/images/constructivista.jpg" class="img-thumbnail"
                                        alt="Hollywood Sign on The Hill" />
                                </div>
                                <div class="col-md-4">
                                    <img src="/assets/images/tradicional.jpg" class="img-thumbnail"
                                        alt="Hollywood Sign on The Hill" />
                                </div>
                                <div class="col-md-4">
                                    <img src="/assets/images/montessori.jpg" class="img-thumbnail"
                                        alt="Hollywood Sign on The Hill" />
                                </div>
                            </div>
                        </div> <br> <br>
                        <h2 class="fw-bold mb-5 text-center">Modelo Educativo y Grados Escolares</h2>

                        <div class="row gx-lg-5 mb-5 align-items-center">
                            <div class="col-md-6 mb-4 mb-md-0"> <img src="/assets/images/pintura.jpg"
                                    class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor">
                            </div>
                            <div class="col-md-6 mb-4 mb-md-0">
                                <h3 class="fw-bold">Aprendizaje Holístico</h3>
                                <div class="mb-2 text-danger small"> <i class="fas fa-users me-2"
                                        aria-controls="#picker-editor"></i><span>Formando personas</span> </div>
                                <p class="text-muted">Nuestro modelo educativo es holístico, ya que se combinan tres
                                    métodos de aprendizaje: Constructivista, Tradicional y Montessori. <br> <br>
                                    Esto nos permite desarrollar las inteligencias múltiples y habilidades de forma
                                    integral y creativa. Hemos construido un ambiente favorable tanto físico como
                                    espiritual para dar respuesta a las necesidades. <br> <br>
                                    Nuestros alumnos tienen acceso a diferentes materiales didácticos y juegos
                                    educativos con los cuales pueden explorar e indagar sobre distintos temas.
                                    En kínder 1, 2 y 3 los niños se divierten y aprenden a amar el conocimiento con una
                                    formación bilingüe.
                                <ul>
                                    <li>
                                        Kinder 1: De 3-4 años
                                    </li>
                                    <li>
                                        Kinder 2: De 4-5 años
                                    </li>
                                    <li>
                                        Kinder 3: De 5-6 años
                                    </li>
                                </ul>
                                </p>

                                <a class="btn  btn-dark" href="#contacto" role="button"
                                    aria-controls="#picker-editor">Contactar</a>
                            </div>
                        </div>
                        <div class="row gx-lg-5 mb-5 flex-lg-row-reverse align-items-center">
                            <div class="col-md-6 mb-4 mb-md-0"> <img src="/assets/images/horario.jpg"
                                    class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor">
                            </div>
                            <div class="col-md-6 mb-4 mb-md-0">
                                <h3 class="fw-bold">Horario Extendido</h3>
                                <div class="mb-2 text-primary small"> <i class="fas fa-users me-2"
                                        aria-controls="#picker-editor"></i><span>Humanos y creativos</span> </div>
                                <p class="text-muted">Nuestra comunidad tiene servicio de horario extendido hasta las
                                    5:00 pm. En donde los alumnos a través de nuestras actividades deportivas podrán
                                    fomentar su madurez emocional y bienestar psicológico al reducir el estrés. Las
                                    actividades físicas establecen conexiones neurológicas que favorecen el aprendizaje
                                    y la memoria.
                                </p> <a class="btn  btn-dark" href="#contacto" role="button"
                                    aria-controls="#picker-editor">Contacto</a>
                            </div>
                        </div>

                    </section>
                </section>
                <!---->
            </div>
            <div data-draggable="true" style="position: relative;">
                <!---->
                <!---->
                <section draggable="false" class="container pt-5" data-v-271253ee="">
                    <section class="mb-10">
                        <h2 class="fw-bold mb-5 text-center">Educación Bilingüe</h2>

                        <div class="row gx-lg-5 mb-5 flex-lg-row-reverse align-items-center">
                            <div class="col-md-6 mb-4 mb-md-0"> <img src="/assets/images/proud.jpg"
                                    class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor">
                            </div>
                            <div class="col-md-6 mb-4 mb-md-0">
                                <h3 class="fw-bold">Nuestro programa</h3>
                                <div class="mb-2 text-primary small"> <i class="fas fa-users me-2"
                                        aria-controls="#picker-editor"></i><span>Humanos y creativos</span> </div>
                                <p class="text-muted">Implementamos un programa bilingüe teniendo como referencia el
                                    Marco Común Europeo. Este programa consiste en promover la inmersión en el idioma
                                    inglés de forma innovadora, práctica, eficaz y divertida. <br> <br>
                                    Nuestra enseñanza del idioma inglés esta basado en los programas de National
                                    Geographic Learning, los cuales utilizan canciones, juegos, historias y contenido
                                    del mundo real de personal y lugares para que los niños aprendan el idioma de manera
                                    natural. A través de este sistema nuestros alumnos comprenden la diversidad de
                                    nuestro planeta al mismo tiempo que van integrando el idioma ingles como parte de
                                    sus vidas.
                                </p> <a class="btn  btn-dark" href="#contacto" role="button"
                                    aria-controls="#picker-editor">Contacto</a>
                            </div>
                        </div>

                    </section>
                </section>
                <!---->
            </div>
            <div data-draggable="true" style="position: relative;">
                <!---->
                <!---->
                <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
                    <section class="mb-10 background-radial-gradient">
                        <style>
                            .background-radial-gradient {
                                background-color: hsl(218, 41%, 15%);
                                background-image: radial-gradient(650px circle at 0% 0%, hsl(218, 41%, 35%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%), radial-gradient(1250px circle at 100% 100%, hsl(218, 41%, 45%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%);
                            }
                        </style>
                        <div class="container px-4 py-5 px-md-5 text-center text-lg-start">
                            <div class="row gx-lg-5 align-items-center">
                                <div class="col-lg-6 mb-5 mb-lg-0">
                                    <h2 class="my-5  fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                                        <span>Inscribe a tu hijo hoy en Smart Kids y</span> <br> <span
                                            style="color: hsl(218, 100%, 87%)">prepáralo para un futuro brillante lleno
                                            de aprendizaje</span>
                                    </h2> <a
                                        class="btn  btn-outline-light btn-lg btn-rounded py-3 px-5 mb-2 mb-md-0 me-md-2"
                                        href="#contacto" role="button" aria-controls="#picker-editor">Contacto</a>
                                </div>
                                <div class="col-lg-6 mb-5 mb-lg-0"> <img src="/assets/images/plastilina.jpg"
                                        class="w-100 rounded-4 shadow-5" alt="" aria-controls="#picker-editor"> </div>
                            </div>
                        </div>
                    </section>
                </section>
                <!---->
            </div>
            <div id="contacto">
                <div data-draggable="true" class="" style="position: relative;">
                    <!---->
                    <!---->
                    <section draggable="false" class="container pt-5" data-v-271253ee="">
                        <section class="mb-10 text-center">
                            <style>
                                hr.divider-vertical {
                                    position: absolute;
                                    right: 0;
                                    top: 0;
                                    width: 1px;
                                    background-image: linear-gradient(180deg, transparent, hsl(0, 0%, 40%), transparent);
                                    background-color: transparent;
                                    height: 100%;
                                }
                            </style> <!-- Background image -->
                            <div class="p-5 bg-image imageContactoSmart"
                                style="background-image: url(/assets/images/bannerContacto.jpg); height: 400px; background-size: cover; background-position: 50% 16%;"
                                aria-controls="#picker-editor"></div> <!-- Background image -->
                            <div class="card mx-4 mx-md-5 shadow-5-strong"
                                style=" margin-top: -100px; background: hsla(0, 0%, 100%, 0.8); backdrop-filter: blur(30px); ">
                                <div class="card-body py-5 px-md-5">
                                    <div class="row mb-5">
                                        <h2>Contáctanos</h2>
                                    </div>
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-lg-6">
                                            <form action="/ajax/email" method="POST"
                                                onsubmit="return submitEmailForm(this);">
                                                <!-- Name input -->
                                                <div class="form-outline mb-4"> <input name="name" type="text"
                                                        id="form4Example1" class="form-control formInput" required=""
                                                        aria-required="true"> <label class="form-label"
                                                        for="form4Example1" style="margin-left: 0px;">Nombre</label>
                                                    <div class="form-notch">
                                                        <div class="form-notch-leading" style="width: 9px;"></div>
                                                        <div class="form-notch-middle" style="width: 42.4px;"></div>
                                                        <div class="form-notch-trailing"></div>
                                                    </div>
                                                </div> <!-- Email input -->
                                                <div class="form-outline mb-4"> <input name="number" type="number"
                                                        id="form4Example2" class="form-control formInput" required=""
                                                        aria-required="true">
                                                    <label class="form-label" for="form4Example2"
                                                        style="margin-left: 0px;">Teléfono</label>
                                                    <div class="form-notch">
                                                        <div class="form-notch-leading" style="width: 9px;"></div>
                                                        <div class="form-notch-middle" style="width: 88.8px;"></div>
                                                        <div class="form-notch-trailing"></div>
                                                    </div>
                                                </div>
                                                <div class="form-outline mb-4"> <input name="email" type="email"
                                                        id="form4Example2" class="form-control formInput" required=""
                                                        aria-required="true">
                                                    <label class="form-label" for="form4Example2"
                                                        style="margin-left: 0px;">Correo</label>
                                                    <div class="form-notch">
                                                        <div class="form-notch-leading" style="width: 9px;"></div>
                                                        <div class="form-notch-middle" style="width: 88.8px;"></div>
                                                        <div class="form-notch-trailing"></div>
                                                    </div>
                                                </div>
                                                <!-- Message input -->
                                                <div class="form-outline mb-4"> <textarea name="message"
                                                        class="form-control formInput" id="form4Example3" rows="4"
                                                        required="" aria-required="true"></textarea> <label
                                                        class="form-label" for="form4Example3"
                                                        style="margin-left: 0px;">Mensaje</label>
                                                    <div class="form-notch">
                                                        <div class="form-notch-leading" style="width: 9px;"></div>
                                                        <div class="form-notch-middle" style="width: 60px;"></div>
                                                        <div class="form-notch-trailing"></div>
                                                    </div>
                                                </div> <!-- Checkbox -->
                                                <div class=" form-check d-flex justify-content-center mb-4"> <input
                                                        class="formOrange form-check-input me-2" type="checkbox"
                                                        value="" id="form4Example4" checked="" required=""
                                                        aria-required="true"> <label class="form-check-label"
                                                        for="form4Example4">Acepto <a href="/privacidad"
                                                            class="linkTaquenitos">política de privacidad</a> </label>
                                                </div> <!-- Submit button -->
                                                <!-- Submit button -->
                                                <button type="submit" class="btn bg-dark btn-block"
                                                    aria-controls="#picker-editor "> <span
                                                        class="text-white">Enviar</span></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </section>
                    <!---->
                </div>
            </div>
            <div class="mapaSmart">
                <div class="container">
                    <div class="">
                        <h3 class="colorStrongTaqueñitos text-center">Visita nuestras instalaciones</h3>
                    </div><br>
                    <div class="row">

                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3735.4844281046962!2d-100.41529773342099!3d20.568265488996836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d34591fa330f45%3A0xbd02fd3ba30d7dca!2sPlaza%20Jacal!5e0!3m2!1ses!2smx!4v1694968305390!5m2!1ses!2smx"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>