.fonts3 {
    font-family: 'arial';

}
.justifiedText{
    text-align: justify !important;
}

.fonts2 {
    font-family: 'Mooli', sans-serif !important;
    font-family: 'Rubik Distressed', cursive;
}

.fontBold {
    font-weight: bold !important;
}

.footer {
    padding-top: 3%;

}
.cardRes{
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
}

.pointer {
    cursor: pointer;
}

.inicioDivT {
    height: 40rem;
    background-image: url("/assets/images/bannerSmartInicio.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3%;

}

.divContacto {
    background-color: #3c9fd0 !important;
    padding-top: 1%;
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 1%;
}

.nosotrosT {
    margin-top: -3%;
}

.bannerConsultingJofer {
    background-image: url("/assets/images/bannerCosulting.jpg");
}

.bannerSpace {
    height: 16rem;
    background-image: url("/assets/images/bannerSpace.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3%;
    margin-top: 5%;
}

.privacidadBanner {
    height: 36rem;
    background-image: url("/assets/images/bannerSmartInicio.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.tablePrivacidad {
    margin-bottom: 15%;
}

.divCatchUp {
    padding-top: 3%;
    margin-top: -3%;
}

.componentsDiv {
    margin-top: -5%;
}


@media (min-width: 992px) {
    .rounded-tr-lg-0 {
        border-top-right-radius: 0;
    }

    .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
    }

}

@media(min-width:992px) {}

@media(max-width:991px) {
    .divContacto {
        display: none;
    }

    .imageContactoSmart {
        height: 300px !important;
    }

    .componentsDiv {
        margin-top: -31%;
    }

    .divCatchUp {
        display: none;
    }

    .footer {
        padding-top: 10%;
        padding-left: 3%;
        padding-right: 3%;
    }

    #contacto {
        margin-top: -30%;
        margin-bottom: -30%;
    }

    .responsiveMarginCard {
        margin-top: 5%;
    }

    .inicioDivT {
        height: 15rem;

    }

}